.page1 {
  background-image: url(../img2/back.jpg);
  width: 100%;
  min-height: 150vh;
}
.page1 > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 110px;
}
.page1 > header > img {
  width: 5%;
  height: 60px;
}
.page1 > header > div {
  width: 65%;
  height: 100%;
  display: flex;
}
.page1 > header > div > ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.page1 > header > div > ul > li {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.page1 > header > div > ul > li:hover > .drop1 {
  opacity: 1;
  visibility: visible;
}
.page1 > header > div > ul > li:hover > .mega {
  opacity: 1;
  visibility: visible;
}
.page1 > header > div > ul > li > .drop1 {
  width: 90%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: gray;
  border-radius: 80px 80px 80px 80px/10px 80px 15px 80px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.page1 > header > div > ul > li > .drop1 > li {
  width: 100%;
  padding: 20px;
  border-radius: 10px 80px;
}
.page1 > header > div > ul > li > .drop1 > li:hover {
  background-color: #262424;
}
.page1 > header > div > ul > li > .drop1 > li:hover {
  color: white;
}
.page1 > header > div > ul > li > .drop1 > li > a {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: body;
  font-weight: bold;
}
.page1 > header > div > ul > li > .mega {
  width: 500%;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  background-color: white;
  height: 400px;
  border-radius: 80px 80px 80px 80px/15px 80px 15px 80px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.page1 > header > div > ul > li > .mega > div {
  display: flex;
  margin: 20px;
  width: 50%;
}
.page1 > header > div > ul > li > .mega > div > ul {
  width: 50%;
}
.page1 > header > div > ul > li > .mega > div > ul > li {
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #262424;
  text-align: center;
  margin: 20px 0px;
}
.page1 > header > div > ul > li > .mega > div > ul > li > a {
  display: flex;
  font-size: 18px;
  text-align: center;
  color: gray;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: body;
  font-weight: bold;
}
.page1 > header > div > ul > li > .mega > div > ul > li > a:hover {
  color: #262424;
}
.page1 > header > div > ul > li > .mega > div > img {
  width: 60%;
  height: 340px;
  padding: 10px;
  border-radius: 80px 60px 80px 80px/20px 60px 15px 80px;
}
.page1 > header > div > ul > li > a {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: body;
  font-size: 20px;
}
.page1 > header > div > ul > li > a:hover::after {
  width: 30%;
}
.page1 > header > div > ul > li > a::after {
  content: "";
  background-color: white;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  transition: 0.8s;
  margin-bottom: 15px;
}
.page1 > header > .icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.page1 > header > .icon > li {
  display: flex;
}
.page1 > header > .icon > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 > header > .icon > li > a > i {
  font-size: 20px;
  color: white;
}
.page1 > header > .icon > li > a > i:hover {
  color: gray;
}
.page1 > .row {
  width: 100%;
  margin-top: 20px;
}
.page1 > .row > span {
  margin-top: 150px;
  width: 10%;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 55px;
  color: gray;
  font-family: khas;
}
.page1 > .row > figure {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 > .row > .row {
  width: 10%;
}
.page1 > .row > .row > ul {
  width: 100%;
}
.page1 > .row > .row > ul > li {
  margin: 40px 0px;
}
.page1 > .row > .row > ul > li > a > i {
  font-size: 20px;
  color: white;
}
.page1 > .row > .row > ul > li > a > i:hover {
  color: gray;
}
.page1 > .row > .row > img {
  width: 70px;
  height: 100px;
  margin-top: 300px;
  transition: 0.8s;
}
.page1 > .row > .row > img:hover {
  width: 90px;
  height: 120px;
}

.page2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #151515;
  padding: 20px;
}
.page2 > .row {
  width: 100%;
}
.page2 > .row > div {
  display: flex;
  width: 70%;
  height: 80%;
  justify-content: space-between;
}
.page2 > .row > div > .row {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 > .row > div > .row * {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}
.page2 > .row > div > .row > span {
  margin-top: 110px;
}
.page2 > .row > div > .row > h2 {
  font-size: 25px;
  text-align: center;
}
.page2 > .row > div > .row > p {
  text-align: center;
}
.page2 > .row > div > .row > a {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
.page2 > .row > div > .row > a:hover {
  background-color: #333;
}
.page2 > .row > div > figure {
  width: 40%;
  height: 500px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-top: 150px;
}
.page2 > .row > div > figure > img {
  width: 90%;
  height: 100%;
}
.page2 > .row > figure {
  width: 30%;
  display: flex;
  justify-content: end;
}
.page2 > .row > figure > img {
  width: 350px;
  height: 700px;
}

.page3 {
  background-image: url(../img2/back.jpg);
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}
.page3 > .row {
  width: 100%;
}
.page3 > .row > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.page3 > .row > div > figure {
  width: 40%;
  height: 500px;
}
.page3 > .row > div > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 80px 60px 80px 80px/20px 60px 15px 80px;
}
.page3 > .row > div > .row {
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 > .row > div > .row * {
  color: white;
}
.page3 > .row > div > .row > h3 {
  font-size: 40px;
  text-align: center;
  color: rgb(185, 182, 182);
}
.page3 > .row > div > .row > p {
  text-align: center;
}
.page3 > .row > div > .row > a {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.page3 > .row > div > .row > a:hover {
  background-color: #333;
}

.page4 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 50px;
  background-image: url(../img2/back.jpg);
}
.page4 > .row {
  width: 100%;
  height: 120%;
}
.page4 > .row > h4 {
  width: 100%;
  color: rgb(185, 182, 182);
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.page4 > .row > .row {
  justify-content: space-evenly;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
.page4 > .row > .row > figure {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
  height: 85%;
  position: relative;
  overflow: hidden;
}
.page4 > .row > .row > figure > img {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page4 > .row > .row > figure > figcaption {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  bottom: -5px;
  left: 0;
  font-family: khas;
}
.page4 > .row > .row > figure:hover > div {
  bottom: 30px;
}
.page4 > .row > .row > figure > div {
  background-color: white;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  border-radius: 10px;
  position: absolute;
  bottom: -80px;
  left: 0px;
  transition: 0.4s;
  overflow: hidden;
}
.page4 > .row > .row > figure > div > a {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 > .row > .row > figure > div > a:hover > i {
  color: gray;
}
.page4 > .row > .row > figure > div > a > i {
  font-size: 25px;
}

.page5 {
  width: 100%;
  background-image: url(../img2/back.jpg);
  padding: 30px;
  padding-top: 110px;
}
.page5 > h4 {
  color: #c2c4c3;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}
.page5 > .row {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.page5 > .row > div {
  margin: 10px;
}
.page5 > .row > div > h6 {
  color: #c2c4c3;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
}
.page5 > .row > div > p {
  color: #747474;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
  margin-left: 20px;
}
.page5 > .row > div > figure {
  width: 100%;
  height: 100%;
  position: relative;
}
.page5 > .row > div > figure:hover::after {
  background-color: white;
  color: #333;
}
.page5 > .row > div > figure > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.page5 > .row > div > figure::after {
  content: "25 March";
  width: 65px;
  height: 65px;
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.page5 > .row > div > figure::before {
  content: "";
  width: 65px;
  height: 65px;
  border: 1px solid gray;
  position: absolute;
  top: -10px;
  left: -10px;
}

footer {
  width: 100%;
  min-height: 60vh;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > .row {
  width: 50%;
  align-items: center;
  justify-content: center;
}
footer > .row * {
  margin: 15px 0px;
}
footer > .row > p {
  width: 100%;
  text-align: center;
  color: white;
}
footer > .row > ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer > .row > ul > li {
  display: flex;
}
footer > .row > ul > li > a > i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.609);
  border: 1px solid rgba(255, 255, 255, 0.62);
  margin: 5px;
  padding: 5px;
}
footer > .row > ul > li > a > i:hover {
  background-color: rgba(255, 255, 255, 0.62);
  color: #202020;
}/*# sourceMappingURL=project2.css.map */