
.icon-basket:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-eye-outline:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-opencart:before { content: '\f23d'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
